body {
  padding-top: 50px;
  visibility: hidden;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.resource {
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
}

.rs-name {
  width: 70%;
}

.rs-desc {
  width: 15%;
}

.rs-add {
  width: 15%;
}

.glyphicon {
  color: black;
  pointer-events: none;
}
