$rsc-border: 1px solid lightgrey;
$rsc-border-radius: 3px;

body {
  padding-top: 50px;
  visibility: hidden;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.resource {
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
}

.resource-expanded {
  border-bottom: $rsc-border;
  border-left: $rsc-border;
  border-right: $rsc-border;
  border-bottom-left-radius: $rsc-border-radius;
  border-bottom-right-radius: $rsc-border-radius;
}

.rs-name {
  width: 70%;
}

.rs-details {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -3px;
  width: 99.5%;
}

.rs-desc {
  width: 15%;
}

.rs-add {
  width: 15%;
}

.rsc-category {
  display: inline;
}

.glyphicon {
  color: black;
  pointer-events: none;
}
