<h2>Edit Resource</h2>
<div class='row'>
  <form ng-submit='submit()'>
    <div class='col-md-4'>
      <input type='text' name='name' placeholder='Name' ng-model='resource.name' class='form-control' />
      <br />
      <input type='text' name='link' placeholder='Link' ng-model='resource.link' class='form-control' />
      <br />
      <input type='text' name='color' placeholder='Brand Color' ng-model='resource.color' class='form-control' />
      <br />
      <input type='text' name='logo' placeholder='Logo Link' ng-model='resource.logo' class='form-control' />
      <br />
      <input type='submit' value='Edit Resource' class='btn btn-success' />
    </div>
    <div class='col-md-4'>
      <textarea name='description' id='resource-description' placeholder='Description' rows='5' ng-model='resource.description' class='form-control'></textarea><br />
      <textarea name='long_description' id='long-resource-description' placeholder='Detailed Description' rows='10' ng-model='resource.long_description' class='form-control'></textarea>
    </div>
    <div class='col-md-4'>
      <div class='rsc-category form-group' ng-repeat='(cat, selected) in categories'>
        <label for='{{ cat }}'>
          <input type='checkbox' value='cat' name='cat' ng-model='categories[cat]' /> {{ cat }} 
        </label>
      </div>
  </form>
      <br /><br />
      <form ng-submit='addNewCategory()'>
        <input type='text' id='new-category' name='new-category' placeholder='Add New Category' ng-model='newCat' class='form-control' />
        <br />
        <input type='submit' value='Add Category' class='btn btn-primary' />
      </form>
    </div>
</div>
