<h2>Create New Resource</h2>
<form ng-submit='submit()'>
  <input type='text' name='name' placeholder='Name' ng-model='resource.name' />
  <br /><br />
  <input type='text' name='link' placeholder='Link' ng-model='resource.link' />
  <br /><br />
  <input type='text' name='color' placeholder='Brand Color' ng-model='resource.color' />
  <br /><br />
  <input type='text' name='logo' placeholder='Logo Link' ng-model='resource.logo' />
  <br /><br />
  <textarea name='description' id='resource-description' placeholder='Description' rows='7' cols='50' ng-model='resource.description'></textarea>
  <textarea name='long_description' id='long-resource-description' placeholder='Detailed Description' rows='15' cols='50' ng-model='resource.long_description'></textarea>
  <br /><br />
  <div class='rsc-category' ng-repeat='(cat, selected) in categories'>
    <label for='{{ cat }}'>
      <input type='checkbox' value='cat' name='cat' ng-model='categories[cat]' /> {{ cat }} 
    </label>
  </div>
  <input type='submit' value='Create' />
</form>

<form ng-submit='addNewCategory()'>
  <input type='text' id='new-category' name='new-category' placeholder='Add New Category' ng-model='newCat' />
  <input type='submit' value='Add Category' />
</form>

<h2>User requested resource queue</h2>

<div class='adminQueue' ng-repeat="q in queue"> 
  <div class='queueRsc'>
    <span>{{ q.name }}&nbsp <a class='queueLink' href='{{ q.link }}'>{{ q.link }}</a> &nbsp{{ q.user }}&nbsp</span>
    <div class='queueButton btn btn-danger btn-sm' ng-click='removeQItem(q._id)'>OK</div>
  </div>
</div>