<h1><strong>About</strong></h1>

<div class='col-md-6 col-md-offset-3'>
  <h2 class='about-copy'>Here's the deal</h2>
  <resource-template data='example'></resource-template>
  <p class='about-copy'>The homepage is for discovering the best resources for learning code on the web. You can read a quick description, 
    get more details from us, or go directly to their page to take a look. If you like the resource add it to your dashboard with 
    the + button. Your dashboard is just a place where you can keep all the resources you've discovered organized and only 
    a click away. The colored button always takes you to their site in a new tab, and the name button will either show you details or
    take you to the site on the same tab depending on whether or not you've added it to your dashboard. 
    If your favorite resource can't be found on the homepage, you can add it to your own dashboard! It will probably, eventually, 
    end up in the main collection as well. This website is created by a coder for coders, so you'll also find a quick syntax cheatsheet 
    for when you're already familiar with how a language basically works, but don't remember the syntax for a switch statement or for loop. 
    Thanks for being part of the community!</p>
</div>