<div class='about'>
  <h1 class='heading about__heading'>Here's how it works</h1>
  <div class="about__example">
    <resource-template data='example'></resource-template>
  </div>
  <div class='about__descriptor'>
    <span class='about__descriptor-section'>
      <svg class="about__icon"><use xlink:href='css/sprite.svg#icon-arrow-up-left2'></use></svg>
      <span class="about__descriptor-text">The colored button always takes you to the resource site in a new tab.</span>
    </span>
    <span class="about__descriptor-section about__descriptor-section-large">
      <div class="svgs">
        <svg class="about__icon"><use xlink:href='css/sprite.svg#icon-arrow-up2'></use></svg>
        <svg class="about__icon"><use xlink:href='css/sprite.svg#icon-arrow-up-right2'></use></svg>
      </div>
      <span class="about__descriptor-text">The resource name button will take you to a details page with reviews and the 
        three lines will show you a quick description.</span>
    </span>
    <span class="about__descriptor-section">
      <svg class="about__icon"><use xlink:href='css/sprite.svg#icon-arrow-up-right2'></use></svg>
      <span class='about__descriptor-text'>The plus will add the resource to your dashboard.</span>
    </span>
  </div>
  <div class='about__content'>
    <div class='about__copy'>
      <span class='about__copy-text'>The homepage is for discovering the best resources for learning code on the web. You can read a quick description, 
        get more details from us, or go directly to their page to take a look.</span>
      <span class='about__copy-text'>Your dashboard is just a place where you can keep all the resources you've discovered organized and only 
        a click away. If your favorite resource can't be found on the homepage, you can add it to your own dashboard! It will probably, eventually, 
        end up in the main collection as well.</span>
    </div>
    <div class='about__copy'>
      <span class='about__copy-text'>
        This website is created by a coder for coders, so you'll also find a quick syntax cheatsheet 
        for when you're already familiar with how a language basically works, but don't remember the exact syntax. 
        Thanks for being here and I hope you find it useful!
      </span>
    </div>
  </div>
</div>
