<div class='about'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <h1>Here's how it works</h1>
      <resource-template data='example'></resource-template>
    </div>
  </div>
  </div class='row'>
    <div class='col-md-4 left' style='padding-top: 40px;'>
      <p class='about-copy'>The homepage is for discovering the best resources for learning code on the web. You can read a quick description, 
        get more details from us, or go directly to their page to take a look.</p>
      <p class='about-copy'>Your dashboard is just a place where you can keep all the resources you've discovered organized and only 
        a click away. If your favorite resource can't be found on the homepage, you can add it to your own dashboard! It will probably, eventually, 
        end up in the main collection as well.</p>
    </div>
    <div class='col-md-4 middle'>
      <p class='about-copy'>
        <span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span>
        The colored button always takes you to the resource site in a new tab.
      </p>
      <p class='about-copy'>
        <span class='glyphicon glyphicon-arrow-up' aria-hidden='true'></span>
        The resource name button will take you to a details page with reviews and the <span class='glyphicon glyphicon-align-justify' aria-hidden='true'></span>
        will show you a quick description.
      </p>
      <p class='about-copy'>
        <span class='glyphicon glyphicon-arrow-right' aria-hidden='true'></span>
        The <span class='glyphicon glyphicon-plus' aria-hidden='true'></span> will add the resource to your dashboard.
      </p>
    </div>
    <div class='col-md-4 right' style='padding-top: 40px;'>
      <p class='about-copy'>This website is created by a coder for coders, so you'll also find a quick syntax cheatsheet 
        for when you're already familiar with how a language basically works, but don't remember the syntax for a switch statement or for loop. 
        Thanks for being here and I hope you find it useful!</p>
    </div>
  </div>
</div>
