<div class='banner' style='background-color: {{ resource.color }};'></div>
<br />

<div class='row'>
  <div class='col-md-4'>
    <img class='rs-logo' ng-src='{{resource.logo}}' />
    <div class='rating-form text-center'>
      <h3>Leave a Rating!</h3>
      <form ng-submit='submit()'>
        <select class='form-control' name='rating' id='rating' ng-model='data.rating'>
          <option value='1'>1 Star</option>
          <option value='2'>2 Stars</option>
          <option value='3'>3 Stars</option>
          <option value='4'>4 Stars</option>
          <option value='5'>5 Stars</option>
        </select>
        <span>Your Rating: {{ data.rating }}</span>
        <input type='submit' value='Submit Rating' />
      </form>
    </div>
  </div>
  
    <select class='selectpicker'>
      <option value='1'>One</option>
      <option value='2'>Two</option>
    </select>
  
  <div class='col-md-7 rs-detail-view-details'>
    {{ resource.long_description }}
  </div>
</div>