<div class="starter-template jumbotron">
  <h1>SkillSquire</h1>
  <p class="lead">A way to discover and keep track of all the things you need to learn to become a developer.</p>
</div>

<div class='row'>
  <div class='col-md-4 resource' ng-repeat="rsc in resources">
    <div class='btn-group btn-block'>
      <div class='rs-name btn btn-default' id='{{ rsc.className }}'>{{ rsc.name }}</div>
      <div class='rs-desc btn btn-info'    id='{{ rsc.className }}Details' ng-click='showDetails($event)'><span class='glyphicon glyphicon-align-justify' aria-hidden='true'></span></div>
      <div class='rs-add  btn btn-warning' ng-if='!userHasResource(rsc)' id='{{ rsc.className }}Add' ng-click='addRsc(rsc._id)'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></div>
      <div class='rs-add  btn btn-success' ng-if='userHasResource(rsc)' id='{{ rsc.className }}Added'><span class='glyphicon glyphicon-ok' aria-hidden='true'></span></div>
    </div>
    <div class='rs-details' ng-show='{{rsc.className}}Details'>
      <div class='rs-description'>{{ rsc.description }}</div>
      <div class='rs-rating'>
        <span ng-repeat='i in [].constructor(rsc.rating) track by $index' class='glyphicon glyphicon-star' aria-hidden='true'></span>
      </div>
    </div>
  </div>
</div>
