<div>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Admin: {{ user.admin }}</p>
</div>

<h2>My Resources</h2>
<div class='col-md-5'>
  <div class='resource userRscList' ng-repeat="rsc in resources">
    <div class='btn-group btn-block'>
      <a class='rs-name btn btn-default' id='{{ rsc.className }}' ng-href='{{ rsc.link }}' target='_blank'>{{ rsc.name }}</a>
      <div class='rs-desc btn btn-info'   id='{{ rsc.className }}Details' ng-click='expand = !expand'><span class='glyphicon glyphicon-align-justify' aria-hidden='true'></span></div>
      <div class='rs-add  btn btn-danger' id='{{ rsc.className }}Remove' ng-click='removeRsc(rsc._id)'><span class='glyphicon glyphicon-minus' aria-hidden='true'></span></div>
      
    </div>
    <div class='rs-details slide' ng-show='expand'>
      <div class='rs-rating'>
        <span><span ng-repeat='i in [].constructor(rsc.rating) track by $index' class='glyphicon glyphicon-star'></span> &ndash;</span>
      </div>
      <div class='rs-decription'>{{ rsc.description }}</div>
    </div>
  </div>
</div>