<div class='javascript syntax'>
  <h2>Javascript</h2>
  <br />
  <h4>Hello World</h4>
  <div class='code'>
    <p>console.log("hello world");</p>
  </div>
  <br />
  <h4>Function Definition</h4>
  <div class='code'>
    <p>function helloWorld() {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;console.log("hello world");</p>
    <p>}</p>
  </div>
  <h5>OR</h5>
  <div class='code'>
    <p>var helloWorld = function() {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;console.log("hello world");</p>
    <p>}</p>
  </div>
  <br />
  <h4>For Loop</h4>
  <div class='code'>
    <p>for (var i = 0; i &lt; 10; i++) { </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;console.log(i);</p>
    <p>}</p>
  </div>
  <br />
  <h4>While Loop</h4>
  <div class='code'>
    <p>var count = 0;</p>
    <p>while (count &lt; 10) {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;console.log(count);</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;count++;</p>
    <p>}</p>
  </div>
  <h5>OR</h5>
  <div class='code'>
    <p>do {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<em>code</em></p>
    <p>} while (count < 10);</p>
  </div>
  <br />
  <h4>Conditionals</h4>
  <div class='code'>
    <p>if (<em>conditional</em>) {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;// Do something</p>
    <p>} else if (<em>conditional</em>) {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;// Do something else</p>
    <p>} else {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;// Do default</p>
    <p>}</p>
  </div>
  <br />
  <h4>Switch Statement</h4>
  <div class='code'>
    <p>var food = 'Veggies'</p>
    <p>switch (food) {</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;case 'Fruit':</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>code</em></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;case 'Veggies':</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>code</em></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;default:</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>code</em></p>
    <p>}</p>
  </div>
  <br />
  <h4>And, Or, Not Operators</h4>
  <div class='code'>
    <p>&& || !</p>
  </div>
  <br />
  <h4>Strings</h4>
  <div class='code'>
    <p>"" OR ''</p>
    <p>var name = 'world';</p>
    <p>console.log("hello " + name);</p>
    <p>console.log(`hello ${name}`);</p>
  </div>
  <br />
  <h4>Variables</h4>
  <div class='code'>
    <p>Primitives are passed by value</p>
    <p>Objects are passed by reference</p>
  </div>
</div>
