<div class='javascript syntax'>
<h2>Javascript</h2>
<h4>Hello World</h4>
<pre><code>
console.log("hello world");
</code></pre>
<h4>Function Definition</h4>
<pre><code>
function helloWorld() {
    console.log("hello world");
}

var helloWorld = function() {
    console.log("hello world");
}
</code></pre>
<h4>For Loop</h4>
<pre><code>
for (var i=0; i < 10; i++) {
    console.log(i);
}
</code></pre>
<h4>While Loop</h4>
<pre><code>
var count = 0;
while (count < 10) {
    console.log(count);
    count++;
}

do {
    < code >
} while (count < 10);
</code></pre>
<h4>Conditionals</h4>
<pre><code>
if (< conditional >) {
    // Do something
} else if (< conditional>) {
    // Do something else
} else {
    // Do default
}
</code></pre>
<h4>Switch Statement</h4>
<pre><code>
var food = 'veggies';
switch (food) {
    case 'fruit':
        < code >
        break;
    case 'veggies':
        < code ran >
        break;
    default:
        < code >
}
</code></pre>
<h4>And, Or, Not Operators</h4>
<pre><code>
&& || !
</code></pre>
<h4>Strings</h4>
<pre><code>
"" OR '' OR ``
var name = 'world';
console.log("hello " + name);
console.log(`hello ${name}`);
</code></pre>
