<div class='python syntax'>
  <h2>Python</h2>
  <br />
<h4>Hello World</h4>
<pre><code>
print("hello world")
</code></pre>
<h4>Function Definition</h4>
<pre><code>
def helloWorld():
    print("hello world")
</code></pre>
<h4>For Loop</h4>
<pre><code>
for i in range(10):
    print(i)
</code></pre>
<h4>While Loop</h4>
<pre><code>
count = 0
while count < 10:
    print(count)
    count += 1
</code></pre>
<h4>Conditionals</h4>
<pre><code>
if < conditional >:
    # Do something
elif < conditional >:
    # Do something else
else:
    # Do default
</code></pre>
<h4>And, Or, Not Operators</h4>
<pre><code>
and or not
</code></pre>
<h4>Strings</h4>
<pre><code>
"" OR ''

name = 'world'
print(f"hello {name}")

def docstring():
"""this function does stuff"""
    print("do stuff")
</code></pre>
</div>