<div class='python syntax'>
  <h2>Python</h2>
  <br />
  <h4>Hello World</h4>
  <div class='code'>
    <p>print("hello world")</p>
  </div>
  <br />
  <h4>Function Definition</h4>
  <div class='code'>
    <p>def helloWorld():</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;print("hello world")</p>
  </div>
  <br />
  <h4>For Loop</h4>
  <div class='code'>
    <p>for i in range(10):</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;print(i)</p>
  </div>
  <br />
  <h4>While Loop</h4>
  <div class='code'>
    <p>count = 0</p>
    <p>while count &lt; 10:</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;print(count)</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;count += 1</p>
  </div>
  <br />
  <h4>Conditionals</h4>
  <div class='code'>
    <p>if <em>conditional</em>:</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;# Do something</p>
    <p>elif <em>conditional</em>:</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;# Do something else</p>
    <p>else:</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;# Do default</p>
  </div>
  <br />
  <h4>And, Or, Not Operators</h4>
  <div class='code'>
    <p>and or not</p>
  </div>
  <br />
  <h4>Strings</h4>
  <div class='code'>
    <p>"" OR ''</p>
    <p>name = 'world'</p>
    <p>print(f"hello {name}")</p>
    <p>def docstring():</p>
    <p>"""this function does stuff"""</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;print("do stuff")</p>
  </div>
</div>