<!doctype html>
<html>
  <head>
    <title>SSQ Admin Panel</title>
  </head>
  <body>
    <h1>Admin Panel</h1>
    <h2>Create New Admin</h2>
    <form id='new_admin' method='post'>
      <input type='text' name='username' placeholder='Username' />
      <input type='email' name='email' placeholder='Email' />
      <input type='password' name='password' placeholder='Password' />
      <input type='hidden' value='true' name='isAdmin' />
      <input type='submit' value='Create' />
    </form>
    <a href='admin/resource'>Create new resource</a>
  </body>
</html>