*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.7;
  visibility: hidden;
  opacity: 0;
}

a:link, a:hover, a:visited, a:active {
  color: black;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: 'Fat Boy Slim';
  src: url("./fbsbltc2.ttf");
}

.heading-home {
  font-family: 'Fat Boy Slim';
  font-size: 6rem;
}

.home-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: white;
}

.container {
  width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 30rem;
  background-color: #c9c9c9;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.9);
}

.nav__item {
  list-style: none;
  padding: 1.5rem 2rem;
  color: #f2f2f2;
  transition: background-color .1s;
}

.nav__item:hover {
  background-color: #919191;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row-category {
  grid-template-columns: 1fr;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.btn {
  padding: 1.5rem;
  border: 1px solid #919191;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.btn--admin {
  margin: 1rem;
}

.btn-danger {
  background-color: #a83535;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.radio-label {
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
}

.radio-btn {
  display: inline-block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 3px solid black;
  border-radius: 50%;
  top: 2px;
  left: 0;
}

.radio-btn::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-input:checked + .radio-label .radio-btn::after {
  opacity: 1;
}

.radio-input {
  display: none;
}

.organization {
  margin-top: 1rem;
}

.resource {
  margin: 1rem;
}

.resource__btn-group {
  width: 100%;
  border: 1px solid #919191;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource__btn-group > * {
  padding: 1rem;
  cursor: pointer;
}

.resource__btn-group > *:not(:first-child) {
  border-left: 1px solid #919191;
}

.resource__link {
  width: 12%;
  height: 100%;
}

.resource__name {
  width: 65%;
  text-align: center;
  font-weight: bold;
  box-sizing: content-box;
  background-color: white;
}

.resource__description-text {
  display: inline-block;
  font-size: 1.4rem;
  background-color: white;
}

.resource__add--plus {
  background-color: #3e84a8;
}

.resource__add--checkmark {
  background-color: #5ca83e;
}

.resource__icon {
  width: 2rem;
  height: 2rem;
  transform: translateY(2px);
}

.resource__icon--cross {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #a83535;
}

.resource__icon--plus {
  width: 2rem;
  height: 2rem;
}

.resource__details {
  padding: .7rem;
  padding-top: .9rem;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
  border-left: 1px solid #919191;
  border-radius: 0 0 4px 4px;
  transform: translateY(-2px);
  background-color: white;
}

.resource__rating {
  display: inline-block;
}

.resource__rating-star {
  width: 1.5rem;
  height: 1.5rem;
  fill: #d1c43e;
  transform: translateY(2px);
}

.dashboard {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 25rem repeat(2, 1fr);
}

.dashboard__heading {
  font-weight: 300;
  text-transform: uppercase;
}

.dashboard__user-info {
  justify-self: center;
}

.dashboard__resource {
  display: inline-block;
  width: 100%;
}

.dashboard__resources {
  padding: 2rem;
}

.dashboard__custom-form__btn {
  margin: 1rem;
}

.dashboard__custom__input {
  width: 75%;
  padding: .7rem;
  margin: .5rem;
}

.admin-heading {
  padding: 3rem;
}

.admin-container {
  width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 30rem;
}

.admin-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.admin-create {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.admin-create__input {
  width: 75%;
  padding: .7rem;
  margin: .5rem;
}

.resource__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.resource-metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resource-metadata__input {
  width: 75%;
  padding: .7rem;
  margin: .5rem;
}

.resource-description__text {
  width: 35rem;
  height: 10rem;
}

.resource-description__long-text {
  width: 35rem;
  height: 20rem;
}

.resource-categories {
  display: flex;
  flex-wrap: wrap;
}

.resource-categories__category {
  margin: 0 5px;
}

.resource-new-category {
  width: 75%;
  padding: .7rem;
  margin: .5rem;
}

.resource-delete {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.csheet-container {
  width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 30rem;
}

.csheet-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 40rem);
}

.language {
  padding: 3rem;
  background-color: white;
}

.language h4 {
  margin-top: 4rem;
  margin-bottom: -2rem;
}

.language--csharp {
  grid-area: 2 / 1 / 3 / 3;
}
