.container {
  width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 20rem;
  background-color: $lighter-grey;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $dark-grey;
  
  &__item {
    list-style: none;
    padding: 1.5rem 2rem;
    color: $lighter-grey;
    transition: background-color .1s;
    
    &:hover {
      background-color: $grey;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  &__column {
    
  }
  
  &-category {
    grid-template-columns: 1fr;
  }
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
