@font-face {
  font-family: 'Fat Boy Slim';
  src: url('./fbsbltc2.ttf');
}

.heading-home {
  font-family: 'Fat Boy Slim';
  font-size: 6rem;
}

.home-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: white;
}