.btn {
  padding: 1.5rem;
  border: $default-border;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.4rem;
  background-color: $light-grey;
  
  &--admin {
    margin: 1rem;
    color: black;
  }
  
  &-danger {
    background-color: $red;
    text-transform: uppercase;
    font-weight: bold;
  }
}