.resource {
  margin: 1rem;
  
  &__btn-group {
    width: 100%;
    border: $default-border;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & > * {
      &:not(:first-child) {
        border-left: $default-border;
      }
      
      // adjust padding heighten or shorten resource element
      padding: .8rem;
      cursor: pointer;
    }
  }
  
  &__link {
    width: 12%;
    height: 100%;
  }
  
  &__name {
    width: 65%;
    text-align: center;
    font-weight: bold;
    box-sizing: content-box;
    background-color: white;
  }
  
  &__description {
    
    &-text {
      display: inline-block;
      font-size: 1.4rem;
      background-color: white;
    }
  }
  
  &__add {
    
    &--plus {
      background-color: $blue;
    }
    
    &--checkmark {
      background-color: $green;
    }
  }
  
  &__icon {
    width: 2rem;
    height: 2rem;
    transform: translateY(2px);
    
    &--cross {
      width: 1.5rem;
      height: 1.5rem;
      background-color: $red;
    }
    
    &--plus {
      width: 2rem;
      height: 2rem;
      transform: scale(.87) translateY(3px);
    }
  }
  
  &__details {
    padding: .7rem;
    padding-top: .9rem;
    border-bottom: $default-border;
    border-right: $default-border;
    border-left: $default-border;
    border-radius: 0 0 4px 4px;
    transform: translateY(-2px);
    background-color: white;
  }
  
  &__rating {
    display: inline-block;
    
    &-star {
      width: 1.5rem;
      height: 1.5rem;
      fill: $color-star;
      transform: translateY(2px);
    }
  }
}